<launch>
    <arg name="pi/2" value="1.5707963267948966" />
    <arg name="pi" value="3.1415926" />
    
    
    <node pkg="d1200camera" type="mynteye_d1200_node" name="mynteye_d1200_node">
        <param name="rgb_topic" value="/camera_color" />
        <param name="depth_topic" value="/camera_depth" />
        <param name="points_topic" value="/points" />
        <param name="ir_intensity" value="0" />
        <param name="camera_factor" value="500.0" />
        <param name="low_resolution" value="false" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="base_to_points_broadcaster" args="0.0 0 0.0 0 0 0 base_link points_frame 1000" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_color_broadcaster" args="0.0 0 0.0 0 0 -$(arg pi/2) base_link color_frame 1000" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_depth_broadcaster" args="0 0 0 0 0 -$(arg pi/2) base_link depth_frame 1000" />

        
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find d1200camera)/launch/config/basic-view.rviz" required="true"/>

</launch>
