<launch>
    <!-- NOTE: Make sure that rtabmap-ros is installed! -->

    <!-- Choose visualization -->
    <arg name="rviz" default="false" />
    <arg name="rtabmapviz" default="true" />
    <!-- Localization-only mode -->
    <arg name="localization" default="false"/>
    <arg name="stereo" default="false"/>
    <!-- Corresponding config files -->
    <arg name="rtabmapviz_cfg" default="~/.ros/rtabmap_gui.ini" />
    <arg name="rviz_cfg" default="$(find d1200camera)/launch/config/rgbd.rviz" />
    <!-- Fixed frame id, you may set "base_link" or "base_footprint" if they are published -->
    <arg name="frame_id" default="base_link"/>
    <arg name="database_path" default="~/.ros/rtabmap.db"/>
    <arg name="rtabmap_args" default="--Odom/ResetCountdown 10"/>
    <!-- for debugging purpose, it fills launch-prefix tag of the nodes -->
    <arg name="launch_prefix" default=""/>
    <!-- if timestamps of the input topics are not synchronized -->
    <arg name="approx_sync" default="false"/>
    <!-- MyntEye d1200 specific configuration-->
    <arg name="rgb_topic" default="/camera_color" />
    <arg name="depth_registered_topic" default="/camera_depth" />
    <arg name="camera_info_topic" default="/camera_info" />
    <arg name="compressed" default="false"/>
    <arg name="subscribe_scan" default="false"/>
    <!-- Assuming 2D scan if set, rtabmap will do 3DoF mapping instead of 6DoF -->
    <arg name="scan_topic" default="/scan"/>
    <arg name="subscribe_scan_cloud" default="false"/>
    <!-- Assuming 3D scan if set -->
    <arg name="scan_cloud_topic" default="/scan_cloud"/>
    <!-- Generate visual odometry -->
    <arg name="visual_odometry" default="true"/>
    <!-- Odometry topic used if visual_odometry is false -->
    <arg name="odom_topic" default="/odom"/>
    <!-- If set, TF is used to get odometry instead of the topic -->
    <arg name="odom_frame_id" default=""/>
    <arg name="namespace" default="rtabmap"/>
    <arg name="wait_for_transform" default="0.5"/>

    <include file="$(find d1200camera)/launch/d1200_camera.launch">
        <arg name="rgb_topic" value="/camera_color" />
        <arg name="depth_topic" value="/camera_depth" />
        <arg name="ir_intensity" value="0" />
        <arg name="low_resolution" default="false" />
        <arg name="gui" value="false" />
    </include>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmapviz" value="$(arg rtabmapviz)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="localization" value="$(arg localization)"/>
        <arg name="gui_cfg" value="$(arg rtabmapviz_cfg)" />
        <arg name="rviz_cfg" value="$(arg rviz_cfg)" />

        <arg name="frame_id" value="$(arg frame_id)"/>
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="database_path" value="$(arg database_path)"/>
        <arg name="wait_for_transform" value="$(arg wait_for_transform)"/>
        <arg name="rtabmap_args" value="$(arg rtabmap_args)"/>
        <arg name="launch_prefix" value="$(arg launch_prefix)"/>
        <arg name="approx_sync" value="$(arg approx_sync)"/>

        <arg name="stereo" value="$(arg stereo)" />
        <arg name="rgb_topic" value="$(arg rgb_topic)" />
        <arg name="depth_topic" value="$(arg depth_registered_topic)" />
        <arg name="camera_info_topic" value="$(arg camera_info_topic)" />
        <arg name="compressed" value="$(arg compressed)"/>

        <arg name="subscribe_scan" value="$(arg subscribe_scan)"/>
        <arg name="scan_topic" value="$(arg scan_topic)"/>

        <arg name="subscribe_scan_cloud" value="$(arg subscribe_scan_cloud)"/>
        <arg name="scan_cloud_topic" value="$(arg scan_cloud_topic)"/>

        <arg name="visual_odometry" value="$(arg visual_odometry)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="odom_frame_id" value="$(arg odom_frame_id)"/>
        <arg name="odom_args" value="$(arg rtabmap_args)"/>
        <arg name="queue_size" value="15"/>
    </include>

</launch>
